* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  height: 4rem;
  box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center; /* Vertical centering */
  padding-left: 2rem;
  padding-right: 2rem;
}

.header-text {
  align-items: center;
  font-size: 1.5em;
  font-weight: 800;
  color: rgb(253, 0, 21);
}

.container {
  display: flex;
  justify-content: center; /* horizontal centering */
}

h1 {
  padding: 2rem 0 2rem 0;
  color: rgb(253, 0, 21);
}

.image-links {
  display: flex;
  gap: 60px; /* Optional: Add space between images */
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  transition: text-decoration 0.3s ease;
}

.underline-on-hover:hover,
.underline-on-hover:focus {
  text-decoration: underline;
  text-decoration-color: rgb(253, 0, 21);
}

.title {
  display: flex;
  justify-content: left;
  font-size: 1.5em;
  font-weight: 600;
  color: black;
}
